<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeing Fast</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: skyblue;">
  <nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid">
      <h5><a class="navbar-brand" href="#">Coding Fast</a></h5>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <h5><a class="nav-link active" aria-current="page" href="/">Home</a></h5>
          <h5><a class="nav-link" href="/blog">Blogs</a> </h5>            
        </div>
      </div>
    </div>
  </nav>

     <div class="container">
      <h1>Blogs Created By Malav.</h1>
      <p><h4>The main purpose is to learn newer technologies with easy understanding and helpful practicles.</h4></p>
      <h5><p>Go to <a  href="/blog">Blogs</a> to read how to get into newer technologies.</p></h5>
     </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>